{% extends 'core/base.html'%}
{% load static %}
{% block content %}
<div class="max-w-6xl mx-auto flex flex-wrap py-2 px-6 xl-:px-0">
   <div class="images w-full mb-6 lg-mb-0 lg:w-3/5">
    <img src="#" alt="" class="rounded-xl">
   </div>
   <div class="information w-full lg:w-2/5 lg:p-6">
    <h1 class="text-2xl">
        Product Name
    </h1>
    <p class="mt-1 text-gray-400">
        $100
    </p>
    <p class="mt-6 text-gray-700">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius inventore ullam, dignissimos accusamus reiciendis quas perspiciatis cumque quae esse fugiat veritatis quibusdam enim autem distinctio cum reprehenderit itaque harum expedita?
    </p>
    <a href="" class="mt-6 inline-block px-8 py-4 rounded-xl bg-purple-500 text-white hover:bg-purple-800">
        Add to cart
    </a>
   </div>

</div>
{% endblock %}